@font-face {
    font-family: GilroyWeb;
    src: url("fonts/Gilroy-Medium.otf") format("opentype");
}

@font-face {
    font-family: GilroyWeb;
    font-weight: bold;
    src: url("fonts/Gilroy-Bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'GilroyWeb', 'Helvetica', 'Arial', sans-serif;
  background-color: #E4E6E8;
}

.header {
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #CBCED1;
}

.header h2 {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin: 15px;
}

.header .search {
  width: 6%;
  display: inline-block;
  color: gray;
  text-align: right;
  margin-top: 15px;
  font-size: 20px;
}

.header .fa-search {
  cursor: pointer;
}

.header .logo {
  border-right: 1px solid #CBCED1;
  text-align: center;
  cursor: pointer;
}

.header .logo img {
  max-width:100%;
  height: 100%;
}

.app-header {
  background-color: white;
  height: 70px;
  border-bottom: 1px solid #CBCED1;
}

.app-header h2 {
  font-weight: normal;
  margin: 25px 15px 0px 25px;
  font-size: 26px;
}

.app-header .menu {
  margin-top: 40px;
  color: gray;
}

.app-header .menu-item {
  padding: 0 5px 10px 5px;
  cursor: pointer;
  position: relative;
}

.app-header .active {
  border-radius: 2px;
}

.app-header .menu-item:hover {
  color: black;
}

.app-header .active::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 0px 0px #3473b5;
  border-radius: 1px;
}